<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>绘本书单：{{title}}</title>
        <link rel="stylesheet" href="/css/weui.css"/>
    </head>
    <body>
        <h1>{{title}}</h1>
        {% for b in book_list %}
        <!-- <li{% if loop.first %} class="first"{% endif %}>{{ author }}</li> -->
        <article class="weui_article">
            <h2>{{b.book_info.book_name}}</h2>
            <img src='{{b.book_info.picture}}' />
            <p>{{b.comment}}</p>

        </article>
        {% endfor %}
            <!-- <img src='{{book.picture}}' /> -->
            <!-- <h1>{{book.book_name}}</h1> -->

            <!-- <h3>{{book.author}} 著，{{book.drawer}} 绘，{{book.translator}} 译</h3> -->

            <!-- <h3>{{book.press}} isbn: {{book.isbn}}</h3> -->

            <!-- <h3>内容简介</h3> -->
            <!-- <p>{{book.content_introduction}}</p> -->
            <!-- <h3>作者简介</h3>  -->
            <!-- <p>{{book.author_introduction}}</p> -->

            <!-- <a href="{{book.jd_book_url}}" class="weui_btn weui_btn_plain_default">京东购买</a> -->
    </body>
</html>